@page
@model labb_1._2_v3.Pages.AboutModel
@{
    //changes the title of the page
    ViewData["Title"] = "Razor";

    //declaring the date and time and putting it into a var
    var date = DateTime.Now;

    //To check the day of the week an empty var for the result
    var result = "";
    //checking the day of week
    var checkDay = DateTime.Now.DayOfWeek;
    //making it into a string
    var monday = checkDay.ToString();

    //if it is monday print out the text
    @if (monday == "Monday")
    {
        result = "Idag är det måndag";
    }
    // if its anything else print out this
    else
    {
        result = "Idag är det inte måndag";
    }

    // a array with the courses I had
    string[] courses = {
        "DT057G Webbutveckling I",
        "DT093G Webbutveckling II",
        "DT173G Webbutveckling III",
        "DT163G Digital bildbehandling för webb",
        "DT003G Databaser",
        "DT084G Introduktion till JavaScript",
        "GD008G Typografi och form för webb",
        "IK060G Projektledning",
        "DT071G Programmering i C#",
        "DT162G Javascriptbaserad webbutveckling",
        "DT068G Webbanvändbarhet",
        "DT152G Webbdesign för CMS" };

    //changes the text of the H1 in the main-content class.
    ViewData["h1"] = "Razor";
    ViewData["h2"] = "Information";
}
<div class="razor-date"><span>Datum/klockslag: </span> @date</div>

<div class="check-monday">@result</div>

@*prints out the array courses into a li with a foreach loop*@
<div class="print-courses">
    <p>Kurser jag läst</p>
    <ul>

        @foreach (var course in courses)
        {
            <li>@course</li>
        }

    </ul>
</div>
